common --symlink_prefix=.bin/
run --run_in_cwd
build --compilation_mode=dbg
build:debug --compilation_mode=dbg
build:release --compilation_mode=opt
build:release --strip=always
build:linux --platforms=@tetro_toolchain//:linux_x86_64
build:windows --platforms=@tetro_toolchain//:windows_x64
build:web --platforms=@tetro_toolchain//:wasm32
try-import %workspace%/.bazelrc.local
